*{
    padding:0rem;
    margin:0rem;
}

html{
    font-size:62.2%
}

body{
   background:linear-gradient(rgb(250, 218, 223),rgb(250, 205, 212),pink);
   min-height: 100vh;
}
.envelope{
     height: 50rem;
     width: 50rem;
     overflow: hidden;
     grid-column-start: 1;
     grid-row-start: span 2 ;
     overflow: hidden;
     position: relative;
     bottom: 2rem;
}


#half-square-triangle {
    width: 0;
    height: 0;
    border-right: 50rem solid transparent;    
    border-bottom: 35rem solid #4CAF50;
  
  }
  
#half-square-triangle2{
    width: 0;
    height: 0;
    border-left: 50rem solid transparent;
    border-bottom: 35rem solid #4CAF50;
   
}

#full-triangle{
  border-left: 25rem solid transparent;   
  border-right: 25rem solid transparent;  
  border-bottom: 20rem solid #4CAF50; 

}

#letter{
    background-color: red;
    height: 35rem;
    width: 49.7rem;
    transition: 3s all ;
    animation:up 3s linear forwards;
    /* animation-delay: 0.8s; */
     position: absolute;
     bottom: 0rem;
}

.triangle{
    position: absolute;

}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    background:linear-gradient(rgb(250, 218, 223),rgb(250, 205, 212),pink);
    min-height: 100vh;
    width: 100%;
}

.letter-content{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.letter-labels{
     text-transform: capitalize;
     font-weight: bolder;
     color:white;
     font-size: 1.5rem;
}

#letter-main-para{
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
    /* -webkit-text-stroke: 0.01rem  black; */
    text-transform: capitalize;
}

.letter-para{
    color:white;
     text-decoration: underline;
     font-size: 1.7rem;
     font-weight: bold;
     -webkit-text-stroke: 0.01rem  black;
     text-transform: capitalize;
}

.heart{
    height: 30rem;
    width:30rem;
    background-color: rgb(255, 0, 0);
    transform: rotate(45deg);
    grid-row-start: span 2;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:resize 3s infinite;
    animation-delay: 0.8s;
}

.heart ::after,
.heart ::before{
    content:"";
    height: 25rem;
    width: 20rem;
    background-color: red;
   border-radius: 50%;
   position: absolute;
   z-index: -1;
}

.heart ::after{
    left:10rem;
    bottom:18rem;

}

.heart ::before{
    top:7.5rem;
    right: 20rem;
    transform: rotate(100deg);
}

.person1{
    height: 20rem;
    width: 20rem;
    border-radius:50%;
    border: solid rgb(24, 24, 24) 0.7rem;
    outline: solid white 0.5rem;
    overflow: hidden;
    transform: rotate(-45deg);
}

.person1 img{
     height: 100%;
     width: 100%;
     z-index: 1;
     object-fit: cover;
     transform: rotate();
}

 @keyframes up{
    0%{
        bottom:0rem;
    }
    100%{
        bottom: 13.9rem;
    }
}

@keyframes resize{
      0%{
        scale:1
      }

      50%{
        scale:0.8
      }
} 

#copyLinkBtn{
    font-size: 2.5rem;
    padding:2rem;
    font-weight: bold;
    background-color:green;
    color: yellow;
    border: none;
    font-weight: bold;
    -webkit-text-stroke: 0.02rem black;
    margin-top:10rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    cursor: pointer;
}

#copyLinkBtn:hover{
    box-shadow:inset 0.2rem 0.2rem 0.5rem black;
}


.glitter-container {
    position: absolute;
    width: 100%;
    top:0;
    height: 100vh;
  }

  .glitter {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 253);
    border-radius: 50%;
    animation: glitter-fall 6s infinite;
    pointer-events: none;
    z-index: 1000;
    /* animation:change 7s  infinite; */
  }

  /* Falling glitter elements with random horizontal movement */
  .glitter:nth-child(1) {
    top: -25%;
    left:20%;
    animation-delay: 0s;
    background-color: red;
  }

  .glitter:nth-child(2) {
    top: -20%;
    left:40%;
    animation-delay: 2s;
    background-color: blue;
  }

  .glitter:nth-child(3) {
    top: -30%;
    left:50%;
    animation-delay: 1s;
    background-color: rgb(251, 255, 0);
  }

  .glitter:nth-child(4) {
    top: -40%;
   left:60%;
    animation-delay: 1.5s;
    background-color: rgb(95, 250, 95);
  }

  .glitter:nth-child(5) {
    top: -50%;
    left:70%;
    animation-delay: 0.5s;
    background-color: rgb(95, 250, 242);
  }

  .glitter:nth-child(6) {
    top: -28%;
    left:80%;
    animation-delay: 2.5s;
    background-color: red;
  }

  .glitter:nth-child(7){
      top: -15%;
     right:5%;
    animation-delay: 3s;
    background-color: blue;
  }

  .glitter:nth-child(8){
      top:-40%;
      left:10%;
      animation-delay: 3.5s;
      background-color: rgb(213, 141, 255);
  }

  .glitter:nth-child(9){
      top:-30%;
      left:30%;
      animation-delay: 3.5s;
      background-color: rgb(251, 255, 0);
  }



  
  @keyframes glitter-fall {
    0% {
      opacity: 1;
      transform: translateY(30vh)
    }
     
    20%{
      background-color:darkviolet;
  }

  40%{
      background-color: aquamarine;
  }

    50% {
      opacity: 0.5;
      transform: translateY(70vh) 
    }

    60%{
      background-color: chocolate;
  }

  80%{
      background-color: gold;
  }

    100% {
      opacity: 0;
      transform: translateY(150vh) ; 
    }
  }

  @keyframes change{
       0%{
            
       }
  }



@media(max-width:1024px){
      
  
    .main{
        grid-template-columns: 1fr;
    }

     .envelope{
           scale: 1;
           position: relative;
           grid-row-start: 3;
           bottom: 0rem;
     }
     .heart{
           grid-column-start: 1;
           grid-row-start: 1;
           scale:1;
           margin-bottom: 8rem;
     }
     #copyLinkBtn{
        grid-column-start: 1;
        grid-row-start: 2;
     }
 
      @keyframes resize{
        0%{
          scale:1
        }
  
        50%{
          scale:0.7
        }
  } 

      @keyframes up{
        0%{
            bottom:0rem;
        }
        100%{
            bottom: 13rem;
        }
    } 

   
}

@media(max-width:598px){
    html{
        font-size: 50%;
    }

 
}

 @media(max-width:498px){
    html{
        font-size: 40%;
    }
} 

@media(max-width:398px){
    html{
        font-size: 35%;
    }
}

/* @media(max-height:1258px){
    @keyframes up{
        0%{
            bottom:37rem;
        }
        100%{
            bottom:70rem
        }
    }
    
} */

